<div style="padding:20px 16px" id="services">

  <h1><legend class="text-center header"><b>PRODUCTS</b></legend></h1><br><br>
  
      <br><br><h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>SCRUBBING SYSTEMS</b></h2><br>
    <img src="../../assets/product1.png" style="float:right;width:500px;height:400px;margin:20px 200px">
  
    <p>
      Trans Tech Projects Pvt. Ltd. offers Venturi and Packed Tower Absorbers for removal of gaseous pollutants such as Cl2, ClO2, HCl, SO2, NH3, NOx, H2S, mercaptans, amines. The system can be either combination of venturi and packed tower or can be individual absorbers.
  
  In venturi scrubber, the gaseous stream gets sucked using venturi from the source where it comes in contact with scrubbing liquid. Any particulate matters gets removed at this stage. A high pressure pump is required to generate the suction for the gaseous stream.
  <br><br>
  In packed tower, the gaseous stream flows upward through a packed bed while the scrubbing liquid flows downward by gravity over the packing. Packed bed consists of random or high performance packing which provides a close gas-liquid contact.
  <br><br>
  The internal components of the tower consist of a packing support plate, a packed bed, a liquid distributor and a mist eliminator. Packed tower absorbers operate at relatively low pressure drops and handle high circulation rates of scrubbing liquid. The tower can be designed for once through operation or to recycle the liquid, depending on the process requirement.
  <br><br>
  Venturi & P acked tower absorbers are available in alloy steel, PP / FRP and rubber lined mild steel. The tower internals can be made from polypropylene or any other materials including metals depending on the process conditions.
  <br><br>
  A team of expert chemical engineers is available for process design, detail engineering, installation & commissioning
    </p>
  <br><br><br>
  
  
    <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>COLUMN INTERNALS</b></h2><br>
    <img src="../../assets/product2.png" style="float:right;width:200px;height:300px;margin:10px 250px">
    <p>
      The performance of packed columns that use modern high efficiency packing is closely related to the performance of the column internals such as liquid distributors, collectors, support plates & mist eliminators
  <br><br>
  TransTech offers a series of column internals to be used with random and structured packing. These internals are specifically designed and selected to maximise the performance of the packing and can be effectively used in various combinations.
  <br><br>
  Column internals are available in metal, thermoplastic & teflon for applications in corrosive, hot and pressurised systems found in chemical, hydrocarbon processing and gas-liquid absorption units.
  <br><br>
  TransTech also supply various random packing suitable for your application. Backed up by experienced chemical engineers, we provide total solutions for new systems or modification of existing systems for efficient operation.
    </p>
    <br><br><br><br>
  
  
    <br><h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>CONTROL PANELS</b></h2><br>
    <img src="../../assets/product3.jpg" style="float:right;width:300px;height:400px;margin:20px 250px">
  <p>
      Trans Tech has qualified electrical and control engineers having several years of experience in the design and development of electrical control panels.
  </p>
  <h3>
      A typical project design would involve the development of :
  </h3>
  <ul>
      <li>Fully Detailed Panel Layouts & general assembly</li>
      <li> Wiring Schematics</li>
      <li> Bill of Materials</li>
      <li> Full Safety Schematics</li>
      <li> PLC I/O Schematics</li>
      <li> Termination & I/O Schedules</li>
  </ul>
  
  <p>
      <h3>Motor Control Center</h3><br>
  Trans Tech offers design and development of Motor Control Centers in integration with Control Automation System. The electrical design are based on Fully Type Tested Assemblies upto Form IV Type 7. Going one step ahead the intelligent / SMART function allow Single plant control & data gathering at the plant central system.
  
  The switch gear products / components used are high quality multi-vendor products. The MCC is pre tested and pre configured at the factory as per relevant international standards

</div>