<section class="about">
    <div class="container">

        <div class="row">

        </div>
    </div>
</section> 

    <div style="padding:20px 16px" id="about">
        <h1><legend class="text-center header"><b>ABOUT</b></legend></h1><br><br>
        <h2 style="text-align: center;">Key features of our company</h2>
        <div style="margin-top:64px">
          
            
            <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>HISTORY</b></h2><br>
            <ul>
            <li>1996 - Aniruddha & Vivek started business activities. Both worked with Tata Honeywell Ltd. (now, Honeywell Automation India Ltd.)
      <li>1999 - Trans Tech Projects Pvt. Ltd. is registered with aim of providing Automation & Engineering Services globally.</li>
      <li>2000 – Started relationship with 1st US based client and still working for the same client on various projects.</li>
      <li>2001 / 2006 / 2010 - Received ISO 9001:2008 certification & re-certification.</li>
      <li>2017 - Received ISO 9001:2015 certification.</li>
      <li>Gradual growth over 100 resources in past 16 years.</li>
      <li>Served more than 100 clients in USA, Canada and all over the world with repeat clientele.</li></ul><br><br><br>
      
        
      <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>SOFTWARE TOOLS</b></h2><br>
          <br><img src="../../assets/table.png" width="700" height="500" style="margin-left: 400px;"><br><br><br>
         
        
          <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>QUALITY</b></h2><br>
            <p>
      Trans Tech Projects is committed to a Quality Management System to provide cost-effective, timely and customer focused solutions.
      
      We practice open & participative work environment for continual improvement in quality of our processes, products, services & quality management systems to achieve customer satisfaction.
      
      Our Quality Management System is certified as per ISO 9001 : 2015.</p>
      <br><img src="../../assets/quality1.jpg" style="margin-left: 40%;">
      
      </div>
   