<div class="w3-display-left w3-text-black" style="padding:40px">
  <h1><legend class="text-center header"><b>Welcome to Trans Tech Projects Pvt. Ltd.</b></legend></h1><br><br>
    <img src="../../assets/banner.jpg" style="margin-left:220px"><br><br>

<br><br><p>Trans Tech Projects Pvt. Ltd. is promoted by US graduates and offers a wide range of services such as Project Management, Detail Engineering, Design & Drafting, Automation & Control with expertise in Skid Mounted Package Units, Industrial and Factory Automation, Manufacturing Execution Systems.

  We are an ISO 9001 certified company, and have elaborate procedures for project execution, and testing to meet international quality standards. Our team of 120 qualified professionals has a blend of Managers, Engineers, Programmers, CAD Designers in various disciplines. We have executed detail engineering and automation projects in Oil & Gas, Water / Waste Water, Chemical / Pharmaceutical domains.
  We believe in long-term relationships with our clients where we work as a cost effective satellite office. We consistently thrive to deliver quality output, stick to project schedules, and always offer very competitive rates! Our Offshore Model has proven to be a cost effective for our satisfied clients all around the world! We have served clients in USA, Canada, Europe, Australia, Middle East and South East Asia.</p>
  

  