<div style="padding:20px 16px" id="careers"> 
    <h1><legend class="text-center header"><b>CAREERS</b></legend></h1><br><br>
  <div style="margin-top:64px"><br>
  
      <p style="margin-left: 2%;">
          Trans Tech Projects is an organization that values contribution, provides opportunities, recognizes achievements and rewards results.
  
  At Trans Tech Projects, you get to see company’s vision, and how you can play a key role towards meeting them practicing company’s values. You get to discuss growth areas and inputs on a regular basis with your seniors. This ensures you keep learning and growing. Your responsibilities are a mix and match of your current skill sets and roles, and some responsibilities for the future role that you are likely to play. This ensures that you are always a step ahead on your career. You get used to being empowered with the faith that you can do it.
  <br>
  Trans Tech Projects is always looking for Managers, Engineers, Designers for various disciplines as below:
  <br><br><br>
  <br><br><img src="../../assets/career1.png" width="800" height="500" style="margin-left: 300px;">
      </p>
      </div>