<div style="padding:20px 16px" id="about">
  
  <h1><legend class="text-center header"><b>CUSTOMERS</b></legend></h1><br><br>
      <div style="margin-top:64px">
        
          
          <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>EQUIPMENT & SYSTEMS MANUFACTURES</b></h2><br>
          <p>Equipment & Package Unit manufacturers who are manufacturing Solvent Recovery (Distillation & Evaporation) Systems, Scrubbing Systems, Adsorption Systems, Thermic Fluid Heaters, Thermal Oxidizers, Boilers, Material Handling Systems, Packaging Machine Suppliers can avail help from us to have better control on manpower costs & quick turnaround..</p>
          
          
          <br><b>How can we help?</b><br><br>
          <ul>
              Preparation of Drawings such as P & IDs, Equipment Fabrication Drawings, Skid Layouts Isometric Drawings in 2D & 3D<br><br>
              Preparation of Panel Layouts, Wiring Drawings, Cable Schedule<br><br>
              PLC / HMI / SCADA programming & associated documentation<br><br>
              Preparation of Training Manual, Operation & Maintenance Manual<br><br>
              Assistance in Proposal Making<br>
          </ul>
    
              <br>
   
    <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>SYSTEM INTEGRATORS</b></h2><br>
   
    <p>System Integrators (SI) & Electrical Contractors who are providing systems for Water / Waste Water Treatment Plants, Food & Beverages, Material Handling, Chemical & Pharmaceutical Plants, Building Automation projects can avail help from us to reduce their costs & quick turnaround for submittals & programming</p>
      
  
      <br><b>How can we help?</b><br><br>
      <ul>Submittals consisting of pdf cutsheets for Panel Devices, Field Instruments<br><br>
          MCC & Control Panel Layouts, Wiring Schematics, Conduit Schedule, Loop Drawings<br><br>
          SCADA / OIT Screen Generation, Animation, Report Generation, Historical Data Archiving<br><br>
          PLC Programming & Documentation<br><br>
          Preparation of Training Manuals, Operation & Maintenance Manuals<br><br>
          Assistance in Proposal Making<br><br>
      </ul>
      
        <br>
       
        <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>ENGINEERING & CONSULTING COMPANIES</b></h2><br>
          <p>
           Engineering & consulting companies can avail our support as extended team of their in-house team. This helps to have flexibility in terms of resources with cost effectiveness. This provides great benefit to in—house team to taper off their peak loads by using our services for some of their non-core activities.</p>
            
           <br><b>How can we help?</b><br><br>
  
            <ul>Assistance on P&IDs – Cadworx, Autocad<br><br>
              3D Modeling of plant sections<br><br>
              Piping Isometric Drawings from 3D Model<br><br>
              2D Layout Drawings from 3D Models<br><br>
              Assistance in project documentation<br><br>
              As-build Drawings<br></ul><br>
  
               
        <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>IT FIRMS</b></h2><br> 
        <ul>For software development we have started another company VASP Solutions LLP.<br><br>
  
          For more detail of the company please visit it's website <a href="vaspsolutions.com">vaspsolutions.com</a></ul>
          <br><br><br>