<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img src="../../assets/logo.png"> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="services">Services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="customers">Customers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="offshore">Offshore</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="careers">Careers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="webmail">Webmail</a>
      </li>

      

    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<br><br><br><br><footer class="bg-light text-center text-lg-start">

  <div class="text-center p-3" style="background-color: rgba(242, 242, 41, 0.5);">
    <a class="text-dark" href="https://mdbootstrap.com/">© Copyright 2023 All Rights Reserved. Powered by : Transtech Projects Pvt. Ltd.</a>
  </div>
</footer>