<div style="padding:20px 16px" id="services">

  <h1><legend class="text-center header"><b>SERVICES</b></legend></h1><br><br>
    
      <div style="margin-top:64px">
        
          
          <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>INDUSTRIAL AUTOMATION</b></h2><br>
          <p>Trans Tech's promoters earlier worked with Tata Honeywell Ltd. (now, Honeywell Automation India Ltd.). Both of them have significant experience on execution of Refinery, Power Plant DCS Projects. Trans Tech's Automation team has expertise on all leading platforms of PLC, HMI & SCADA.</p>
          <img src="../../assets/services2.jfif" style="float:right;width:350px;height:190px;margin:50px 200px">
          
          <br><p><b>Our Services include :</b></p>
          <ol>System Architecture Selection<br>
            PLC / DCS Programming using Ladder Logic, Function Blocks, Structured Text<br>
            Graphic Design for DCS , SCADA and OIT<br>
            Control Panel / Marshalling Cabinet Design<br>
            Panel Wiring / Loop Wiring / Interconnection Drawings<br>
            Preparation of Submittals, O&M, Training Manuals</ol>
      
    <br><img src="../../assets/services1.bmp" style="float:right;width:350px;height:190px;margin:50px 200px"><br>
   
  
    <p><b>Our expertise :</b></p>
    <ol>Allen-Bradley: PLC-5, SLC-500, MicroLogix, CompactLogix and ControlLogix<br>
      Modicon: Quantum, Momentum, Compact<br>
      GE Fanuc: Versamax, 90-30 series<br>
      Automation Direct: Series 05, 06, 305, 405<br>
      Siemens: TI505, S7-200, S7-300, S7-400<br>
      B&R: System 2003, 2005, Power Panel<br>
      Mitsubishi : Fx, AnSH<br>
      ABB: Advant<br>
      DCS: Emerson Delta V and Yokogawa CS 3000, Stardom</ol><br>
  
      <br><img src="../../assets/services3.jpg" style="float:right;width:350px;height:190px;margin:50px 200px"><br>
  
      <p><b>Our expertise in SCADA includes following :</b></p>
      <ol>SCADA: RS-View32, Fix 32, iFIX, Wonderware, Cimplicity, WinCC, Citect, Lookout<br>
        Historian Systems: iHistorian, INSQL, RSSQL<br>
        Operator Interfaces: Panelview Plus, C-More, Maple, Xycom, Red Lion<br>
        Alarm Dialer Software: Scadalarm, Scadatech</ol><br>
  
      <p><b>Our domain expertise include :</b></p>
              <ol>
                  Oil & Gas<br>
  Water / Waste Water<br>
  Chemical & Pharmaceutical<br>
  Renewable Energy<br>
  Mixing, batching & blending<br>
  Material Handling<br>
  Packaging and assembly lines<br>
  Machine Vision<br>
  Servo and positioning<br>
  Robots
              </ol><br>
    <p>Trans Tech has developed a software application in .Net to view control system's real time data via web using standard browsers. We offer 24 hours on line support using latest tools of Desktop Sharing and Video Conferencing.</p><br>
    
      
    <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>MES & SOFTWARE</b></h2><br>
    <img src="../../assets/mes1.jpg" style="float:right;width:300px;height:200px;margin:50px 200px">
  
    <p><b>Manufacturing Execution Systems :</b></p>
    <ol>Production monitoring and reporting<br>
      Downtime monitoring<br>
      Date and time stamping of activities<br>
      Recipe management<br>
      Data acquisition and archival<br>
      Inventory control & tracking systems<br>
      Resource allocation and status<br>
      Operations/detail scheduling<br>
      Document control<br>
      Product tracking and genealogy<br>
      Labor management<br>
      Quality management<br>
      Process management<br>
      Maintenance management<br>
      Performance analysis</ol><br>
  
      <img src="../../assets/mes3.jpg" style="float:right;width:200px;height:200px;margin:0px 250px">
  
      <p><b>We offer software development services such as :</b></p>
      <ol>Custom software development<br>
        Smartphone App development<br>
        Software Systems Maintenance and Support
        </ol><br>
      
      <p>We provide these services through our associate company, VASP Solutions LLP.<br>
  
          Please visit www.vaspsolutions.com to know more about services and offerings.</p>
        <br><br><br>
       
      
        <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>DETAIL ENGINEERING</b></h2><br>
          <p>
            Our multi-disciplinary engineering staff with chemical, mechanical, instrumentation, electrical & civil engineering expertise, enables us to develop client's concept to fruitful completion. Trans Tech has served refinery, power, chemical and pharmaceutical projects all over the world.
  
            We have expertise in Waste Water & Water Treatment Plants, Distillation & Solvent Recovery Systems, Adsorption & Absorption Systems, Pilot Plants, Customized Package Skids, Special Purpose Machines and Residential, Commercial & Industrial Properties.</p>
            
            <img src="../../assets/detail1.png" style="float:right;width:300px;height:150px;margin:50px 250px"> 
            
            <br><p><b>Process :</b></p>
            <ol>Unit Operations Design<br>
              P & IDs, Equipment Layouts, Datasheets<br>
              Utility Sizing and Distribution Diagrams<br>
              Line Sizing, Hydraulic Calculations<br>
              Insulation Calculations with Material Take Off<br></ol><br><br>
  
              <img src="../../assets/detail2.jpg" style="float:right;width:330px;height:250px;margin:0px 250px">
  
            <p><b>Piping & Mechanical :</b></p>
              <ol>3D Modeling, Piping Layouts (Tools: CADWorx)<br>
                Isometric with Material Take Off (Tools: ISOGEN)<br>
                Stress Analysis using (Tools: CAESAR)<br>
                Pressure Vessel & Heat Exchanger Design (Tools: PVElite)<br>
                Fabrication & Assembly Drawings</ol><br><br>
  
            <p><b>Civil & Structural :</b></p>
                <ol>Structure Design, Dynamic Analysis (Tools: StaadPro)<br>
                  Foundation Load Calculations.<br>
                  Detail Fabrication Drawings</ol><br><br>
  
                  <img src="../../assets/detail3.bmp" style="float:right;width:300px;height:150px;margin:0px 250px">
  
            <p><b>Instrumentation & Electrical :</b></p>
                  <ol>Instrument Specifications<br>
              Instrument Hook-up & Standard Installation Diagrams<br>
              Instrument Locations, Cable Tray Routing<br>
              Junction Box and Cable Schedule with Material Take Off<br>
              Control System Design (PLC / SCADA and DCS) & Programming<br>
              Logic Diagrams, Alarms & Safety Interlocks<br>
              Plant Wide Power Distribution Drawings<br>
              Motor Control Center Design<br>
              Plant Lighting Schemes</ol><br>
   
  
      <h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>MODULAR SKIDS DESIGN</b></h2><br>
  
      <img src="../../assets/modular1.png" style="float:right;width:200px;height:300px;margin:0px 250px">
      <p>Trans Tech Projects has expertise in designing modular skids such as pilot plants, solvent recovery systems, washing systems , Clean In Place Units, adsorption systems, scrubbing systems, desalination systems, filtration systems.
  
        Trans Tech has successfully provided services for projects with high temperature, high pressure applications. We can help customer in developing the concept to reality using our strength in process design, detail engineering, automation & control. The skids can be designed considering standard container dimensions so that it can be easily shipped across the globe.
        
        Our process engineers prepares a detail P&I diagram & equipment layout. Based on the same our designers prepares precise 3D model followed by structural steel, piping isometric or spool drawings with weldmets. The same can be viewed as a movie which gives a very good visualization & understanding for fabrication & assembly team.
        
        Our Automation team design control panel with layouts, wiring schematics and provide PLC/HMI programming as per the customer's requirement. We assist customer in testing of the programs so that so that the skids becomes a plug & play activity at site.</p>
   
      
      <br><br><br><br><br><h2 style="background-color: rgb(247, 150, 40); text-align: center;"><b>3D MODELING & DRAFTING</b></h2><br> 
      <p>We have experience custom design & reverse-engineering products for different industries and applications. Whether your goal is to develop a cost-saving alternative or equivalent product or to improve efficiency, we demonstrate all of the attributes you need in a source for engineering and design support.</p><br>
      
      <img src="../../assets/3D1.jpg" style="float:right;width:300px;height:330px;margin:50px 200px">
  
      <p><b>Product Development :</b></p>
      <ol>Design concepts based on customer specifications<br>
        Evaluate concepts for assembly & manufacturing (component cost, count, ease of manufacturing, ease of assembly)<br>
        System Level Design<br>
        Evaluate concepts from System Level Design Constraints</ol><br>
  
        <p><b>Detail Design :</b></p>
        <ol>3D Modeling: parts & assembly<br>
          Detail drawings for manufacturing<br>
          Rendering for presentations, catalogues</ol><br>
  
        <p><b>Industry Domains :</b></p>
        <ol>Industrial Automation<br>
          Water Treatment<br>
          Oil & Gas<br>
          Engineering and Construction<br>
          Packaging</ol><br>
  
        <img src="../../assets/3D2.jpg" style="float:right;width:200px;height:150px;margin:0px 250px">
  
        <p><b>Computer Aided Design :</b></p>
        <ol>SolidWorks<br>
          Inventor<br>
          Inventor<br>
          AutoCAD<br>
          Cadworx<br>
          Autoplant</ol><br>
        
   
          </div>